/.pytest_cache/*
/assets/*
/tests/.pytest_cache/*
/venv/*
/.idea/*
/tests/logfile.log
/tests/report.html
/logfile.log
/report.html
/tests/screenshots/*
/tests/assets/*
app.log
__pycache__
config-demo.ini